@import "tailwindcss";

@theme {
  --font-sans: "iA Writer Quattro", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html {
  overflow-y: scroll;
  scroll-behavior: smooth;
}

body {
  @apply bg-neutral-900 antialiased font-sans;
}

.link {
  @apply px-2 py-1 border-1 border-transparent focus:border-neutral-600 focus:outline-none focus:ring-0 focus:ring-offset-0 rounded-lg hover:decoration-2 focus:outline-hidden focus:decoration-2 text-neutral-300 hover:text-neutral-400 text-sm;
}

.focus {
  @apply px-2 py-1 border-1 border-transparent focus:border-neutral-600 focus:outline-none focus:ring-0 focus:ring-offset-0 rounded-lg;
}
