---
import Layout from "@/layouts/layout.astro";
import { notFound } from "@/consts";
---

<Layout title={notFound.title} description={notFound.description}>
  <section class="w-full max-w-2xl mx-auto py-10 md:py-16 px-4 sm:px-6 lg:px-8">
    <div
      class='flex flex-col items-center justify-center px-4 py-20 text-center sm:px-6 lg:px-8'>
      <h1
        class='block text-7xl font-bold text-white sm:text-9xl'>
        404
      </h1>
      <p class='mt-3 text-neutral-200'>
        Oops, something went wrong.
      </p>
      <p class='text-neutral-400'>
        Sorry, we couldn't find your page.
      </p>
    </div>
    </section>  
</Layout>
