---
import Layout from '../layouts/Layout.astro';
import Header from '../components/AppHeader.astro';

import Footer from '../components/Footer.astro';
import Contactme from "../components/ContactSection.astro";
---

<Layout>
    <Header />

    <main class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6">
        <div aria-hidden="true" class="fixed bg-fixed inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
            <div class="blur-[106px] h-56 bg-gradient-to-br from-[#9333EA]/10 to-purple-400 ">
            </div>
            <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 ">
            </div>
          </div>
 <Contactme />






    </main>
 
    <Footer />
</Layout>
