<!doctype html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta content="Download Resume Of Swastik Dan." name="Description" />
		<meta property="og:title" content="Resume Of Swastik Dan">
		<meta property="og:type" content="website">
		<meta property="og:url" content="https://swastik.vercel.app/download-cv/">
		<meta property="og:image" content="https://emgmlzforbumrtnhpaxc.supabase.co/storage/v1/object/public/portfolio_storage/Og-Image/Og-Image_Resume.jpg">

</head> 
<body style='height: 100%; width: 100%; overflow: hidden; margin:0px; background-color: rgb(82, 86, 89);'><embed  src="https://emgmlzforbumrtnhpaxc.supabase.co/storage/v1/object/public/portfolio_storage/SWASTIKDAN_V3_IMG.pdf" style='position:absolute; left: 0; top: 0;'width='100%' height='100%'  type='application/pdf' >
</body>
</html> 