<div class="mx-auto text-center  py-16">
    <div class="techs scale-90 relative my-16 flex items-center justify-center gap-x-8">
        <svg aria-hiddentrue="" class="relative z-[11] fill-cyan-900/50 dark:fill-white/60" width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M41.1701 18.4936C41.1701 15.8154 37.8165 13.2771 32.6741 11.7039C33.8616 6.46383 33.3344 2.29334 31.01 0.957634C30.4467 0.642186 29.8093 0.483404 29.1639 0.497802V2.33376C29.5429 2.33376 29.8478 2.40956 30.1038 2.54936C31.2239 3.19279 31.7107 5.63849 31.3317 8.78658C31.2407 9.56139 31.0925 10.3766 30.9106 11.2087C29.1885 10.7937 27.4408 10.4938 25.6789 10.3109C24.6293 8.86286 23.4842 7.48648 22.2513 6.19097C24.9378 3.69473 27.4593 2.32703 29.174 2.32703V0.48938C26.9068 0.48938 23.9407 2.10469 20.9408 4.90579C17.9426 2.12322 14.9748 0.523067 12.7093 0.523067V2.35903C14.4156 2.35903 16.9455 3.72 19.6321 6.19939C18.4783 7.41213 17.3245 8.78658 16.228 10.3109C14.4625 10.4918 12.7116 10.7946 10.9879 11.2171C10.8057 10.4285 10.6624 9.63138 10.5584 8.82869C10.171 5.67892 10.6493 3.23322 11.7627 2.58305C12.0086 2.43483 12.3303 2.36745 12.7093 2.36745V0.531489C12.0187 0.531489 11.3904 0.679713 10.8481 0.991322C8.53207 2.32703 8.01329 6.48741 9.20751 11.7123C4.08197 13.2956 0.745239 15.8239 0.745239 18.4936C0.745239 21.1717 4.09882 23.7101 9.24119 25.2816C8.05371 30.5233 8.58092 34.6938 10.9053 36.0279C11.441 36.3412 12.0676 36.4894 12.7582 36.4894C15.0253 36.4894 17.9915 34.8741 20.9913 32.073C23.9895 34.8572 26.9557 36.4557 29.2229 36.4557C29.8732 36.4694 30.5155 36.3102 31.0841 35.9942C33.4001 34.6602 33.9189 30.4998 32.7247 25.2749C37.8333 23.7017 41.1701 21.1633 41.1701 18.4936ZM30.4406 12.9975C30.1206 14.0988 29.7496 15.1847 29.329 16.2517C28.6403 14.9122 27.8842 13.6085 27.0635 12.3456C28.2341 12.5191 29.3627 12.7331 30.4423 12.9975H30.4406ZM26.6677 21.7731C26.0507 22.8501 25.3882 23.9005 24.6818 24.9211C22.2096 25.139 19.7231 25.1419 17.2504 24.9296C15.832 22.9036 14.5916 20.7587 13.5431 18.5189C14.59 16.2738 15.8252 14.1213 17.2352 12.0846C19.7068 11.8662 22.1927 11.8628 24.665 12.0745C25.3488 13.0548 26.0175 14.1024 26.6592 15.2074C27.2858 16.2854 27.8551 17.3802 28.3739 18.4852C27.8494 19.6035 27.2802 20.7004 26.6677 21.7731ZM29.329 20.7018C29.7736 21.8051 30.1543 22.91 30.4659 23.9813C29.3879 24.2457 28.2493 24.468 27.0719 24.6399C27.8892 23.3655 28.6425 22.0512 29.329 20.7018ZM20.9745 29.4942C20.2081 28.7025 19.4417 27.8216 18.6838 26.8565C19.4249 26.8902 20.1828 26.9154 20.9492 26.9154C21.724 26.9154 22.4904 26.8986 23.24 26.8565C22.4989 27.8216 21.7325 28.7025 20.9745 29.4942ZM14.8434 24.6399C13.7077 24.4753 12.5802 24.2583 11.4646 23.9897C11.7694 22.9268 12.1484 21.8303 12.5762 20.7355C12.9148 21.3924 13.2702 22.0527 13.6576 22.7129C14.045 23.3715 14.4392 24.0149 14.8434 24.6399ZM20.9324 7.49298C21.6988 8.28464 22.4652 9.16556 23.2231 10.1307C22.482 10.097 21.724 10.0718 20.9577 10.0718C20.1828 10.0718 19.4165 10.0886 18.6669 10.1307C19.408 9.16556 20.1744 8.28464 20.9324 7.49298ZM14.835 12.3473C14.0178 13.6189 13.2646 14.9304 12.5779 16.277C12.1454 15.2031 11.766 14.1086 11.441 12.9975C12.519 12.7415 13.6576 12.5191 14.835 12.3473ZM7.37828 22.6624C4.46096 21.4193 2.57446 19.7872 2.57446 18.4936C2.57446 17.2 4.46096 15.5594 7.37828 14.3248C8.08572 14.0199 8.86053 13.747 9.6606 13.4927C10.1305 15.1063 10.7487 16.7873 11.5134 18.5104C10.7914 20.1311 10.1808 21.7991 9.68587 23.5029C8.90339 23.2606 8.13327 22.9801 7.37828 22.6624ZM11.8115 34.4361C10.6914 33.7961 10.2047 31.347 10.5836 28.2006C10.6746 27.4258 10.8228 26.6089 11.0047 25.7768C12.6184 26.1726 14.3819 26.4775 16.2364 26.6763C17.286 28.1243 18.4311 29.5007 19.6641 30.7962C16.9775 33.2924 14.456 34.6602 12.7413 34.6602C12.4178 34.6637 12.0984 34.5873 11.8115 34.4378V34.4361ZM31.3569 28.1585C31.7444 31.3066 31.266 33.754 30.1526 34.4041C29.9067 34.5524 29.585 34.618 29.206 34.618C27.4997 34.618 24.9698 33.2588 22.2833 30.7777C23.511 29.4876 24.6484 28.1144 25.6874 26.6678C27.4529 26.487 29.2037 26.1842 30.9274 25.7616C31.1178 26.5937 31.2643 27.3921 31.3569 28.1585ZM34.5286 22.6624C33.8212 22.9673 33.0464 23.2401 32.2463 23.4945C31.7426 21.782 31.1236 20.1056 30.3935 18.4767C31.1515 16.7637 31.7595 15.0912 32.221 13.4843C33.006 13.7274 33.7789 14.0078 34.537 14.3248C37.4544 15.5678 39.3409 17.2 39.3409 18.4936C39.3324 19.7872 37.4459 21.4278 34.5286 22.6624Z"></path>
            <path d="M20.9492 22.2599C21.9481 22.2599 22.9061 21.8631 23.6124 21.1567C24.3187 20.4504 24.7155 19.4925 24.7155 18.4936C24.7155 17.4947 24.3187 16.5368 23.6124 15.8305C22.9061 15.1242 21.9481 14.7274 20.9492 14.7274C19.9504 14.7274 18.9924 15.1242 18.2861 15.8305C17.5798 16.5368 17.183 17.4947 17.183 18.4936C17.183 19.4925 17.5798 20.4504 18.2861 21.1567C18.9924 21.8631 19.9504 22.2599 20.9492 22.2599Z"></path>
        </svg>
        <div class="relative -m-14 rounded-full p-14">
            <div class="absolute inset-0 m-auto rotate-180 w-full h-full scale-[.98]">
                <svg viewBox="0 0 558 558" fill="none" aria-hidden="true" class="w-full h-full animate-spin"><defs><linearGradient id=":R3b9m:" x1="79" y1="16" x2="105" y2="237" gradientUnits="userSpaceOnUse"><stop stop-color="#0DCAFE"></stop><stop offset="1" stop-color="#13B5C8" stop-opacity="0"></stop></linearGradient></defs><path opacity=".2" d="M1 279C1 125.465 125.465 1 279 1s278 124.465 278 278-124.465 278-278 278S1 432.535 1 279Z" stroke="#13B5C8"></path><path d="M1 279C1 125.465 125.465 1 279 1" stroke="url(#:R3b9m:)" stroke-linecap="round"></path></svg>
            </div>
            <div class="relative z-20 rounded-full">
                <div class="relative rounded-full overflow-hidden tw-look">
                    <div class="absolute dark:opacity-90 inset-0 h-full w-full blur-lg grid gap-2 grid-cols-2 duration-700">
                        <div class="h-full scale-y- rounded-tl-full bg-secondary"></div>
                        <div class="h-full rounded-tr-full bg-yellow-200 dark:bg-teal-400"></div>
                        <div class="h-full rounded-bl-full bg-indigo-400 dark:bg-sky-600"></div>
                        <div class="h-full rounded-br-full bg-purple-200 dark:bg-indigo-600"></div>
                    </div>
                    <div class="relative z-[2] h-20 w-20  rounded-full flex bg-white/80 dark:bg-gray-900/80 scale-[.97]">
                        <svg class="w-10 h-auto m-auto text-sky-900/90 dark:text-gray-200" viewBox="0 0 153 92" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M76.5 0.122345C56.1002 0.122345 43.3498 10.3176 38.25 30.7074C45.9 20.5122 54.8248 16.6891 65.025 19.238C70.8444 20.692 75.0041 24.9124 79.6084 29.5832C87.109 37.193 95.7894 46 114.75 46C135.15 46 147.9 35.8048 153 15.4149C145.35 25.6101 136.425 29.4333 126.225 26.8843C120.406 25.4303 116.246 21.2099 111.642 16.5391C104.141 8.9293 95.4606 0.122345 76.5 0.122345ZM38.25 46C17.8502 46 5.0998 56.1952 0 76.5851C7.65 66.3899 16.5748 62.5667 26.775 65.1157C32.5944 66.5697 36.7541 70.7901 41.3584 75.4609C48.859 83.0707 57.5394 91.8777 76.5 91.8777C96.8998 91.8777 109.65 81.6824 114.75 61.2926C107.1 71.4878 98.1752 75.3109 87.975 72.762C82.1556 71.308 77.9959 67.0876 73.3916 62.4168C65.891 54.807 57.2106 46 38.25 46Z" fill="currentColor"></path>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <svg class="relative z-[11] fill-cyan-900/50 dark:fill-white/60" width="42" height="37" viewBox="0 0 42 37" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M32.937 0.48938H25.8844L20.7415 8.88938L16.3341 0.48938H0.170105L20.7415 36.4894L41.313 0.48938H32.937ZM5.31296 3.48938H10.3084L20.7415 22.0894L31.1747 3.48938H36.1701L20.7415 30.4894L5.31296 3.48938Z"></path>
        </svg>
    </div>
    <div class="mt-20 relative">
        <h1 class="text-[2.5rem] leading-9 font-black text-blue-950 dark:text-white md:text-6xl lg:text-7xl">
            Let's build a unique <span class="relative text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-violet-300">experience.</span>
        </h1>
        <p class="relative z-[11] mt-14 text-gray-600 dark:text-gray-300 md:text-lg">
            Having a custom user interface is a crucial thing for your website or web application, Designing one is not an easy task at all. Don't do it alone, let us help you.
        </p>
    </div>
     

    <div class="w-full flex items-center justify-center my-12">
        <div class="top-40 bg-white/30 dark:bg-gray-800/30 shadow bg-opacity-10 rounded-2xl py-16 lg:px-28 px-8">
            <p class="md:text-3xl text-xl font-bold leading-7 text-center text-gray-700 dark:text-white">Let’s chat and get a quote!</p>
            <div class="flex items-center mt-12">
                <div class="w-full flex flex-col">
                    <label class="text-base text-start font-semibold leading-none text-gray-800 dark:text-white">Name</label>
                    <input tabindex="0" arial-label="Please input name" type="name" class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-100" placeholder="Please input  name" />
                </div>
                
            </div>
            <div class="flex items-center mt-8">
                <div class="w-full flex flex-col md:mt-0 mt-4">
                    <label class="text-base text-start font-semibold leading-none text-gray-800 dark:text-white">Email Address</label>
                    <input tabindex="0" arial-label="Please input email address" type="name" class="text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-100" placeholder="Please input email address" />
                </div>
            </div>
            <div>
                <div class="w-full flex flex-col mt-8">
                    <label class="text-base text-start font-semibold leading-none text-gray-800 dark:text-white">Message</label>
                    <textarea tabindex="0" aria-label="leave a message" role="textbox" type="name" class="h-36 text-base leading-none text-gray-900 p-3 focus:oultine-none focus:border-indigo-700 mt-4 bg-gray-100 border rounded border-gray-200 placeholder-gray-100 resize-none"></textarea>
                </div>
            </div>
            <p class="text-xs leading-3 text-gray-600 dark:text-gray-200 mt-4">By clicking submit you agree to our terms of service, privacy policy and how we use data as stated</p>
            <div class="flex items-center justify-center w-full mt-10">
                <button  class="relative flex h-12 w-full items-center justify-center py-4 px-10  before:absolute before:inset-0 before:rounded  before:bg-blue-500 before:transition before:duration-300 hover:before:scale-105 active:duration-75 active:before:scale-95 sm:w-max">
                    <span class="relative  text-lg font-semibold text-white inline-flex items-center">SUBMIT
                    </span>
                </button>
            </div>
        </div>
    </div>


</div>
