---

---
<footer class="pt-20 relative">
  <svg xmlns="http://www.w3.org/2000/svg" class="-mb-0.5 w-full" viewBox="0 0 1367.743 181.155">
    <path class="fill-current text-gray-100 dark:text-gray-800" id="wave" data-name="wave" d="M0,0S166.91-56.211,405.877-49.5,715.838,14.48,955.869,26.854,1366,0,1366,0V115H0Z" transform="translate(1.743 66.155)"></path>
  </svg>
  <div class="bg-gradient-to-b from-gray-100 to-gray-300 dark:from-gray-800 dark:to-gray-900 pt-1">
    <div class="btn-totopdiv flex justify-between px-3 lg:px-10">
      <div></div>
      <button onclick="topFunction()" id="btn-back-to-top" title="Go to top" class="py-2.5 px-8 ring-2  font-medium  hover:bg-blue-200 hover:text-blue-600 text-blue-500  text-sm transition-all duration-200"> Go To Top </button>
    </div>
    <div class="mx-auto max-w-6xl px-6 md:px-12 lg:px-6 xl:px-0">
      <ul role="list" class="mt-12 flex flex-wrap items-center justify-center gap-4 py-4 text-gray-600 dark:text-gray-400 sm:gap-8">
        <li >
          <a href="/#home" class="text-base transition-all  lg:text-lg duration-300  hover:text-blue-500 dark:hover:text-white"> Home </a>
        </li>
        <li >
          <a href="/#projects" class="text-base transition-all  lg:text-lg duration-300  hover:text-blue-500 dark:hover:text-white"> Projects </a>
        </li>
        <li >
          <a href="/#about" class="text-base transition-all  lg:text-lg duration-300  hover:text-blue-500 dark:hover:text-white"> About </a>
        </li>
        <li >
          <a href="/#skills" class="text-base transition-all  lg:text-lg duration-300  hover:text-blue-500 dark:hover:text-white"> Skills </a>
        </li>
        <li >
          <a href="/#contact" class="text-base transition-all  lg:text-lg duration-300  hover:text-blue-500 dark:hover:text-white"> Contact </a>
        </li>
      </ul>
      <div class="flex justify-center items-center space-x-3">
        <div class="hs-tooltip">
          <a href="https://www.linkedin.com/in/swastikdan" rel="noreferrer" target="_blank" class="hs-tooltip-toggle inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 ring-1">
            <svg class="w-5 h-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 15 15">
              <path fill-rule="evenodd" d="M7.979 5v1.586a3.5 3.5 0 0 1 3.082-1.574C14.3 5.012 15 7.03 15 9.655V15h-3v-4.738c0-1.13-.229-2.584-1.995-2.584-1.713 0-2.005 1.23-2.005 2.5V15H5.009V5h2.97ZM3 2.487a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z" clip-rule="evenodd" />
              <path d="M3 5.012H0V15h3V5.012Z" />
            </svg>
            <span class="sr-only">Linkdin</span>
          </a>
          <div class=" hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible inline-block absolute invisible  z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"> Follow me on Linkdin <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="hs-tooltip">
          <a href="https://twitter.com/DanSwastik" rel="noreferrer" target="_blank" data-tooltip-target="tooltip-twitter" class="hs-tooltip-toggle inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 ring-1">
            <svg class="w-5 h-5 " aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
              <path fill="currentColor" d="M12.186 8.672 18.743.947h-2.927l-5.005 5.9-4.44-5.9H0l7.434 9.876-6.986 8.23h2.927l5.434-6.4 4.82 6.4H20L12.186 8.672Zm-2.267 2.671L8.544 9.515 3.2 2.42h2.2l4.312 5.719 1.375 1.828 5.731 7.613h-2.2l-4.699-6.237Z" />
            </svg>
            <span class="sr-only">Twitter</span>
          </a>
          <div class=" hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible inline-block absolute invisible  z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"> Follow me on Twitter <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="hs-tooltip">
          <a href="https://github.com/Swastikdan" rel="noreferrer" target="_blank" data-tooltip-target="tooltip-github" class="hs-tooltip-toggle inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 ring-1">
            <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
              <path fill-rule="evenodd" d="M10 .333A9.911 9.911 0 0 0 6.866 19.65c.5.092.678-.215.678-.477 0-.237-.01-1.017-.014-1.845-2.757.6-3.338-1.169-3.338-1.169a2.627 2.627 0 0 0-1.1-1.451c-.9-.615.07-.6.07-.6a2.084 2.084 0 0 1 1.518 1.021 2.11 2.11 0 0 0 2.884.823c.044-.503.268-.973.63-1.325-2.2-.25-4.516-1.1-4.516-4.9A3.832 3.832 0 0 1 4.7 7.068a3.56 3.56 0 0 1 .095-2.623s.832-.266 2.726 1.016a9.409 9.409 0 0 1 4.962 0c1.89-1.282 2.717-1.016 2.717-1.016.366.83.402 1.768.1 2.623a3.827 3.827 0 0 1 1.02 2.659c0 3.807-2.319 4.644-4.525 4.889a2.366 2.366 0 0 1 .673 1.834c0 1.326-.012 2.394-.012 2.72 0 .263.18.572.681.475A9.911 9.911 0 0 0 10 .333Z" clip-rule="evenodd" />
            </svg>
            <span class="sr-only">Github</span>
          </a>
          <div id="tooltip-github" role="tooltip" class=" hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible inline-block absolute invisible  z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"> Follow me on GitHub <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
        <div class="hs-tooltip">
          <a href="mailto:iamswastik@skiff.com?subject=Your%20Subject-%20from%20portfolio" rel="noreferrer" target="_blank" data-tooltip-target="tooltip-github" class="hs-tooltip-toggle inline-flex justify-center p-2 text-gray-500 rounded-lg cursor-pointer dark:text-gray-400 dark:hover:text-white hover:text-gray-900 hover:bg-gray-100 dark:hover:bg-gray-600 ring-1">
            <svg class="w-5 h-5" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
              <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
              <g id="SVGRepo_iconCarrier">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M5.96802 4H18.032C18.4706 3.99999 18.8491 3.99998 19.1624 4.02135C19.4922 4.04386 19.8221 4.09336 20.1481 4.22836C20.8831 4.53284 21.4672 5.11687 21.7716 5.85195C21.9066 6.17788 21.9561 6.50779 21.9787 6.83762C22 7.15088 22 7.52936 22 7.96801V16.032C22 16.4706 22 16.8491 21.9787 17.1624C21.9561 17.4922 21.9066 17.8221 21.7716 18.1481C21.4672 18.8831 20.8831 19.4672 20.1481 19.7716C19.8221 19.9066 19.4922 19.9561 19.1624 19.9787C18.8491 20 18.4706 20 18.032 20H5.96801C5.52936 20 5.15088 20 4.83762 19.9787C4.50779 19.9561 4.17788 19.9066 3.85195 19.7716C3.11687 19.4672 2.53284 18.8831 2.22836 18.1481C2.09336 17.8221 2.04386 17.4922 2.02135 17.1624C1.99998 16.8491 1.99999 16.4706 2 16.032V7.96802C1.99999 7.52937 1.99998 7.15088 2.02135 6.83762C2.04386 6.50779 2.09336 6.17788 2.22836 5.85195C2.53284 5.11687 3.11687 4.53284 3.85195 4.22836C4.17788 4.09336 4.50779 4.04386 4.83762 4.02135C5.15088 3.99998 5.52937 3.99999 5.96802 4ZM4.31745 6.27777C4.68114 5.86214 5.3129 5.82002 5.72854 6.1837L11.3415 11.095C11.7185 11.4249 12.2815 11.4249 12.6585 11.095L18.2715 6.1837C18.6871 5.82002 19.3189 5.86214 19.6825 6.27777C20.0462 6.69341 20.0041 7.32517 19.5885 7.68885L13.9755 12.6002C12.8444 13.5899 11.1556 13.5899 10.0245 12.6002L4.41153 7.68885C3.99589 7.32517 3.95377 6.69341 4.31745 6.27777Z" fill="currentColor"></path>
              </g>
            </svg>
            <span class="sr-only">Mail</span>
          </a>
          <div id="tooltip-github" role="tooltip" class=" hs-tooltip-content hs-tooltip-shown:opacity-100 hs-tooltip-shown:visible inline-block absolute invisible  z-10 py-2 px-3 text-sm font-medium text-white bg-gray-900 rounded-lg shadow-sm opacity-0 transition-opacity duration-300 tooltip dark:bg-gray-700"> Email Me <div class="tooltip-arrow" data-popper-arrow></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mt-12 pb-10  text-center px-4">
      <span class="text-sm tracking-wide text-gray-500 pb-10">Copyright © Swastik Dan <span id="year"></span> - Present <br> All rights reserved </span>
    </div>
  </div>
  </div>
</footer>
<script is:inline>
  const yearElement = document.getElementById("year");
  const currentYear = new Date().getFullYear();
  yearElement.innerText = currentYear;
  let mybutton = document.getElementById("btn-back-to-top");
  function topFunction() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });
  }
</script>