---

---

<section class="herosection relative max-w-7xl mx-auto  md:px-12 xl:px-6 -mt-20 md:-mt-0   " id="home">
  <div aria-hidden="true" class="fixed bg-fixed inset-0 grid grid-cols-2 -space-x-52 opacity-40 dark:opacity-20">
    <div class="blur-[106px] h-56 bg-gradient-to-br from-[#9333EA]/10 to-purple-400 ">
    </div>
    <div class="blur-[106px] h-32 bg-gradient-to-r from-cyan-400 to-sky-300 ">
    </div>
  </div>

  <div class="relative pt-36  ml-auto space-y-20">


    <div class="relative container m-auto pt-5 md:pt-0 text-black">
      <h2 class="text-center font-thin text-blue-900 text-xl dark:text-white  py-2 gotham " style="letter-spacing:-1.5px;">Hey, i'm Swastik 👋 ,‎ I am a</h2>
          <h3 class=" text-center text-3xl md:text-6xl  xl:text-7xl font-black uppercase pt-2 relative text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB] gotham md:space-grotesk">Full Stack Web Developer &</h3>
          <h3 class="text-center text-3xl md:text-6xl  xl:text-7xl font-black uppercase pb-2 relative text-transparent bg-clip-text bg-gradient-to-r from-[#0081EC] to-[#00D8E9] dark:from-[#03B3FB] dark:to-[#6FF9CB] gotham md:space-grotesk">UI
            Designer.</h3>

            <h4 class="text-center py-5 gotham dark:text-white text-sm md:text-base lg:text-lg">I'm Swastik and I'm a full stack developer and freelancer. <span class="hidden md:block">I have a passion for building and designing user-friendly software. I'm also a freelancer and available to work, and I can help you build your next dream project.</span> </h4>
    </div>

  </div>

   <!-- Buttons -->
   <div class="relative mt-8  grid gap-3 w-full sm:inline-flex sm:justify-center px-16 ">
    <a class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 hover:from-violet-600 hover:to-blue-600 border border-transparent text-white text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white py-3 px-4 dark:focus:ring-offset-gray-800 group transition-all delay-100 duration-300"  target=" _blank" rel="noopener noreferrer" href="download-cv">
      Download CV 
      <svg class="w-5 h-5" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-down-to-line" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="svg-inline--fa fa-arrow-down-to-line fa-fw fa-lg" width="384"  height="512" ><path fill="#183153" d="M32 480c-17.7 0-32-14.3-32-32s14.3-32 32-32H352c17.7 0 32 14.3 32 32s-14.3 32-32 32H32zM214.6 342.6c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 242.7V64c0-17.7 14.3-32 32-32s32 14.3 32 32V242.7l73.4-73.4c12.5-12.5 32.8-12.5 45.3 0s12.5 32.8 0 45.3l-128 128z" class=""></path></svg>
    </a>
    <a class="relative group inline-flex justify-center items-center gap-x-3.5 text-center bg-white border hover:border-gray-300 shadow-sm font-mono text-sm font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-gray-400 focus:ring-offset-2 focus:ring-offset-white transition p-2 pl-4 dark:bg-slate-900 dark:border-gray-800 dark:hover:border-gray-600 dark:shadow-slate-700/[.7] dark:text-white dark:focus:ring-gray-700 dark:focus:ring-offset-gray-800" target=" _blank" rel="noopener noreferrer"  href="https://github.com/Swastikdan">

        Visit Github 
        <span class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-gray-200 font-semibold text-sm text-gray-600 dark:bg-gray-700 dark:text-gray-400">
          <svg class="w-2.5 h-2.5" width="16" height="16" viewBox="0 0 16 16" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round">
            <path d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14" />
          </svg>
        </span>
      
    </a>
  </div>
  <!-- End Buttons -->
</div>

</section>



