<div class="relative">
    <div class="max-w-7xl mx-auto px-6 md:px-12 xl:px-6 md:py-10 relative m-auto  text-gray-500 ">
        <div class="mx-auto  ">
            <div class="mb-4 flex flex-col items-center md:mb-8 ">

                <h2 class="mb-2 text-center text-2xl font-bold text-blue-800 dark:text-white lg:mb-0 lg:text-4xl uppercase">My Skills
                </h2>

            </div>

        </div>
        <div class="grid gap-6 md:mx-auto md:w-8/12 lg:w-full lg:grid-cols-3">
            <div
                class="group space-y-6  px-8 py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-800 dark:text-gray-400  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">
                <img class="mx-auto w-20" src="images/code.png " alt="illustration" loading="lazy" />
                <h3 class="text-2xl font-semibold text-gray-950 dark:text-white">Web development</h3>
                <p class="gotham hidden md:block">
                    I specialize in web development, using HTML, JavaScript, TailwindCSS, and Frontend Frameworks to create interactive and responsive websites.
                </p>

            </div>
            <div
                class="group space-y-6  px-8 py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-800 dark:text-gray-400  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">
                <img class="mx-auto w-20" src="images/magic.png" alt="illustration" loading="lazy" />
                <h3 class="text-2xl font-semibold text-gray-950 dark:text-white">Seo</h3>
                <p class="gotham hidden md:block">
                    I excel in SEO, optimizing websites to rank higher in search engine results and drive organic traffic.
                </p>
            </div>
            <div
                class="group space-y-6  px-8 py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-800 dark:text-gray-400  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">
                <img class="mx-auto w-20" src="images/graphic.png" alt="illustration" loading="lazy" />
                <h3 class="text-2xl font-semibold text-gray-950 dark:text-white">UI Design</h3>
                <p class="gotham hidden md:block">
                    I have a strong background in UI design, creating visually appealing and user-friendly interfaces for digital products.
                </p>
            </div>
        </div>
            <div class="grid  grid-cols-2 gap-6 md:mx-auto md:w-8/12 lg:w-full lg:grid-cols-4 pt-5">
            <div
                class="group space-y-6 px-4 lg:px-8 py-8 lg:py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-700  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">

                <h3 class="text-md lg:text-2xl text-center font-semibold text-gray-800 dark:text-white">Java </h3>

            </div>
            <div
                class="group space-y-6 px-4 lg:px-8 py-8 lg:py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-700  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">

                <h3 class="text-md lg:text-2xl text-center font-semibold text-gray-800 dark:text-white">Python</h3>

            </div>
            <div
                class="group space-y-6 px-4 lg:px-8 py-8 lg:py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-700  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">

                <h3 class="text-md lg:text-2xl text-center font-semibold text-gray-800 dark:text-white">Javascript
                </h3>

            </div>
            <div
                class="group space-y-6 px-4 lg:px-8 py-8 lg:py-12 text-center rounded-3xl bg-gray-100 p-4 text-gray-700  border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30 bg-opacity-50 dark:bg-opacity-50 cursor-pointer  ">

                <h3 class="text-md lg:text-2xl text-center font-semibold text-gray-800 dark:text-white">DSA </h3>

            </div>
        </div>
    </div>
</div>