<div class="tech-stack specific-elements-to-toggle select-none ">
    <div class="all max-w-7xl mx-auto px-6 md:px-12 xl:px-6 md:py-10">
      <span class="text-blue-900 text-lg py-3 lg:text-3xl "></span>
      <span class="block font-semibold text-gray-500 dark:text-gray-400 pb-5 pt-3"></span>
      <div class="mx-auto  ">
        <div class="mb-4 flex flex-col items-center md:mb-8 lg:flex-row lg:justify-between">
          <h2 class="mb-2 text-center text-2xl font-bold text-blue-800 dark:text-white  lg:mb-0 lg:text-4xl uppercase">Tech Stack</h2>
          <span class="flex space-x-2 max-w-md text-center items-center text-gray-400 lg:text-right">
            <span class="hidden lg:block w-14  border-b-2 border-gray-600 "></span>
            <span class="font-medium text-gray-600 dark:text-gray-400">The Tech I Use To Build My Projects</span>
        </span>
        </div>
        <div class="grid grid-cols-2 gap-4 rounded-3xl md:grid-cols-3 lg:grid-cols-5 lg:gap-6 py-5 ">
          <div aria-label="Node Js" class="tech-stack-item-1 flex h-16 items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-[#75AC64] hover:shadow-xl hover:shadow-[#75AC64]/20 dark:hover:border-[#75AC64]/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/node.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Node Js</span>
            </div>
          </div>
          <div aria-label=" Express Js" class="tech-stack-item-1 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-blue-400 hover:shadow-xl hover:shadow-blue-600/20 dark:hover:border-blue-300/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/expressjs-icon.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Express Js</span>
            </div>
          </div>
          <div aria-label=" Mongo DB " class="tech-stack-item-1 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-[#10AA50] hover:shadow-xl hover:shadow-[#10AA50]/20 dark:hover:border-[#10AA50]/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/mongo.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Mongo DB</span>
            </div>
          </div>
          <div aria-label=" Astro " class="tech-stack-item-1 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-orange-400 hover:shadow-xl hover:shadow-orange-600/20 dark:hover:border-orange-300/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/astro-icon.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Astro</span>
            </div>
          </div>
          <div aria-label=" Javascript " class="tech-stack-item-1 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-yellow-400 hover:shadow-xl hover:shadow-yellow-600/20 dark:hover:border-yellow-300/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/js.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Javascript</span>
            </div>
          </div>
          <div aria-label=" Tailwind " class="tech-stack-item-2 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-[#24BBBC] hover:shadow-xl hover:shadow-[#24BBBC]/20 dark:hover:border-[#24BBBC]/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/tailwindcss-light.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Tailwind</span>
            </div>
          </div>
          <div aria-label=" Flask " class="tech-stack-item-2 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-cyan-400 hover:shadow-xl hover:shadow-cyan-600/20 dark:hover:border-cyan-300/30  cursor-pointer grayscale-0  ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/flask.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Flask</span>
            </div>
          </div>
          <div aria-label=" Django " class="tech-stack-item-2 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-[#44B78B] hover:shadow-xl hover:shadow-[#44B78B]/20 dark:hover:border-[#44B78B]/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/django.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Django</span>
            </div>
          </div>
          <div aria-label=" React Js " class="tech-stack-item-2 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-sky-400 hover:shadow-xl hover:shadow-sky-600/20 dark:hover:border-sky-300/30  cursor-pointer grayscale-0   ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/react.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">React</span>
            </div>
          </div>
          <div aria-label=" Vite Js " class="tech-stack-item-2 flex h-16 w-auto items-center justify-center rounded-3xl bg-gray-100/50 p-4 text-gray-700 sm:h-20 border border-gray-200 dark:bg-gray-700  dark:border-gray-700  duration-200 hover:border-indigo-400 hover:shadow-xl hover:shadow-indigo-600/20 dark:hover:border-indigo-300/30  cursor-pointer grayscale-0  md:hidden lg:block  ">
            <div class="flex justify-center space-x-4 items-center  ">
              <img class="w-auto h-8 md:h-10 ld:h-14 rounded-sm" src="https://ik.imagekit.io/swastikmain/tr:f-auto,q-80/public/images/icons/vite-light.svg" alt="chat logo" loading="lazy" width="128" height="128">
              <span class=" md:text-2xl block font-light dark:text-white">Vite</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>