---
import { getCollection } from 'astro:content';
import Layout from '@layouts/Layout.astro';
import Container from '@components/Container.astro';
import ProjectCardSmall from '@components/ProjectCardSmall.astro';
import { projects } from '@consts';

const all_projects = (await getCollection('projects'))
  .filter((project) => !project.data.draft)
  .sort((a, b) => a.data.id.valueOf() - b.data.id.valueOf());
---

<Layout title={projects.title} description={projects.description}>
  <Container>
    <div class='space-y-10'>
      <div class='animate font-semibold text-black dark:text-white'>
        Projects
      </div>
      <ul class='flex flex-col gap-4'>
        {
          all_projects.map((project) => (
            <li>
              {' '}
              <ProjectCardSmall entry={project} />
            </li>
          ))
        }
      </ul>
    </div>
  </Container>
</Layout>
